.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 16px;
    margin-right: 10px;
}
.btn:hover {
    background-color: #0b200b; /* Green */
    color: white;
  }